/* id is for styling, class is for script */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: linear-gradient(
    45deg,
    rgba(123, 23, 21, 0.5),
    rgba(11, 99, 111, 0.5)
  );
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #112312;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid rgba(30, 120, 130, 0.5);
  display: inline-flex;
  font-size: 2.3rem;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: rgba(30, 120, 130, 1);
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(30, 120, 130, 1);
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 1rem;
}

.popup button:active {
  transform: (scale(0.98));
}
.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}
