@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #22c1c3;
  --secondary-color: #fdbb2d;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
body.show-nav {
  /* width of the nav */
  transform: translateX(200px);
  transition: transform 0.3s ease;
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba (200, 200, 200, 0.8);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}
nav .logo img {
  height: 175px;
  width: 175px;
  border-radius: 40%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.8);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.8);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.3rem;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: bolder;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: var(--secondary-color);
  position: absolute;
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 1.5rem;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(200, 200, 200, 0.6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}
.modal-header {
  background: var(--primary-color);
  color: #ffffff;
  padding: 15px;

  border-bottom: 1px solid #333333;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}
.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
